body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100VW; height: 100VH;
  background-color: #223b4f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
#select_canvas {
  width: 100%; height: 100%;
}
#games-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 2vw;
  transition: margin 0.2s;
}
.games-row {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  max-height: 16vw;
  margin: 0.6vw 0;
}
.game-container {
  width: 13vw;
  height: 12.6vw;
  flex-shrink: 0;
  margin: 0 0.3vw;
}
.game-select {
  position: relative;
  color: #fff;
  width: 100%; height: 100%;
  border-bottom-style: solid;
  border-right-style: solid;
  border-width: medium;
  border-color: #172836;
  background-color: #2e506b;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  transition: width 0.2s, height 0.2s, transform 0.2s, z-index 0.2s;
}
.game-select.active {
  width: 16vw;
  height: 15vw;
  transform: translate(-1vw, -1vw);
  background-color: #396385;
  border-color: #1b2f40;
  z-index: 1;
}
.game-image, .game-gif {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.game-image {
  width: 96%;
  height: calc(96% - 2.2vw);
  margin-top: 2%;
}
.game-gif {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.game-author-image-fade {
  width: 102%;
  height: 102%;
  transform: translate( -2%, -2% );
  background-image: linear-gradient(-15deg, #0000, #0000, #396385aa );
  opacity: 0;
  transition: opacity 0.5s;
}
.game-gif.active, .game-author-image-fade.active {
  opacity: 1;
}
.game-footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.2vw;
}
.game-name {
  font-size: 1.3vw;
  overflow: hidden;
  margin: 0 0.6vw;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.author-name {
  position: absolute;
  top: 0.4vw; left: 0.6vw;
  font-size: 1.1vw;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.4s;
}
.author-name.active {
  opacity: 1;
}

.game-players-num-container {
  position: absolute;
  top: 0; right: 0;
  width: 4.5vw; height: 3vw;
  background-image: url('player_background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 0.35vw;
  padding-top: 0.25vw;
}
.game-players-num-symbol {
  width: 0.6vw; height: 0.6vw;
  background-image: url('player_symbol.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 0.2vw;
  margin-top: 0.15vw;
}
.game-players-num-label {
  font-size: 0.8vw;
}